<div>
  <div class="card focus Center2" style="width: 18rem;">
    <img class="card-img-top" src="https://thumbs.gfycat.com/FamiliarEcstaticBarnacle-size_restricted.gif"
      alt="Card image cap">
    <div class="card-body">
      <p class="card-text text-color">{{name}} <br> KDA = {{kda}}</p>
    </div>
    
  </div>

  <div class="Center" >
  <div id="miGrafico01" class="card focus" style="width: 18rem;">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" class="focus"></highcharts-chart>
  </div>
</div>
</div>